/*************************
    BASE
*************************/

body {
    margin: 0;
    padding: 0;
    background-color: #414141;
    
}
img {
    vertical-align: text-bottom;
}
/************Modification des marges de la grille Bootstrap****/
.col-md-6 {
    padding-left: 2px;
    padding-right: 2px;
}
.col-md-4, col-lg-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.col-md-12, col-lg-12 {
    padding-left: 2px;
    padding-right: 2px;        
}




/*************************
    LAYOUT
*************************/
.ls-header {
    width: 100%;
    background-color: #37bbd2;
    display: block;
    margin-bottom: 2px;
}


/**********************************
    HEADER
    ******************************/
.ls-header .logo {   
    margin-left: 10px;
    margin-top: 10px;
}    
.ls-header .titre{
        width:100%;
      display: inline-block;
      vertical-align: baseline;
}
.ls-header .titre a{
      display: inline-block;

    line-height: 2;    
}
.ls-header .titre h1{
      display: inline-block;
    vertical-align: text-bottom;
}
.ls-header .titre p{
      display: inline-block;
      float: right;
      line-height: 3;
      margin-top: 10px;
      margin-right: 30px;
      font-size: 1.5em;

}
.ls-main {
    margin: 0;
    padding: 0;
}






/*************************
    MODULE
*************************/


/****************************
   MAIN
****************************/
/*-------------------
    PARTIE COMMUNE DES VIGNETTES
--------------------*/
.marge {
    margin: 4px;
}

.box {
    position: relative;
    text-align: center;
    padding: 0;
    margin: 2px;
}
.box a {
    display: block;
    color: white;
    text-decoration: none;
}

.box a:hover {
    display: block;
    color: #333;
}


/*-------------------
    VIGNETTES
---------------------*/
.leaderBoard {
    width: 100%;
    height: 400px;
    background-color: #f5f5f5;
    margin-bottom: 2px;
    
}
.leaderBoard .lien{
    background-color: #999999;
}


.entertainment {
    width: 100%;
    height: 200px;
    background-color: #f9897d;
}
.entertainment .lien{
    background-color: #f8504d;
}


.sport {
    width: 100%;
    height: 200px;
    background-color: #b483ff;
}
.sport .lien{
    background-color: #7f53c6;
}


.food {
    width: 100%;
    height: 200px;
    background-color: #b7f6c9;
}
.food .lien{
    background-color: #35eab5;
}


.general {
    width: 100%;
    height: 200px;
    background-color: #fbff86;
}
.general .lien{
    background-color: #fbed1a;
}



.geography {
    width: 100%;
    height: 400px;
    background-color: #fa8a7e;
}
.geography .lien{
    background-color: #f8504d;
}


.history {
    width: 100%;
    height: 200px;
    background-color: #7efeff;
}

.history .lien{
    background-color: #3ea8f6;
}


.science {
    width: 100%;
    height: 200px;
    background-color: #b7f6c9;
}
.science .lien{
    background-color: #35eab5;
}


.tv {
    width: 100%;
    height: 200px;
    background-color: #b483ff;
}
.tv .lien{
    background-color: #7f53c6;
}


.music {
    width: 100%;
    height: 196px;
    background-color: #7efeff;
}
.music .lien{
    background-color: #3ea8f6;
}


.profile {
    width: 100%;
    height: 196px;
    background-color: #f5f5f5;
}
.profile .lien{
    background-color: #999999;
}

/*****************************
    BOX EN DESSOUS DE LA VIGNETTE
    ******************************/
.lien {
    display: inline-block;
    vertical-align: middle;
}    
.box .lien {
    position: absolute;
    bottom: 0;
    left: 0;
    
    width: 100%;
    height: 50px;
    
    color: white;
    margin: 0;
    line-height: 3.5;
    text-align: left;
}

.box .lien h6 {
    padding-left: 10px;
    line-height: 3;
    text-transform: capitalize;
}

.box .lien p {
    position: absolute;
    right: 4%;
    bottom: 0;
    line-height: 2;

}
.entertainment img, .sport img, .food img, .general img, .history img,  .science img, .tv img, .music img, .profile img {
    margin-top: 7%;
}

.leaderBoard img, .geography img {
    margin-top: 15%;
}